.player {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  left: 20px;
  background: linear-gradient(45deg, #540054 0%, #000000 50%, #550052 100%);
  border: 3px outset rgb(155, 0, 169);
  border-radius: 15px;
  height: 120px;
  z-index: 1;
  width: 300px;
  background-blend-mode: darken;

  @media (max-width: 600px) {
    min-width: unset;
    max-width: unset;
    left: 5px;
    height: 60px;
    width: 170px;
  }

  span {
    margin: 0 20px;
    font-size: 30px;
    font-family: 'Tilt Neon', cursive;
    font-weight: bold;
    color: rgb(251, 0, 255);
    letter-spacing: 5px;
    text-shadow: 0 0 20px #e100ff, 0 0 30px #e100ff, 0 0 35px #f700ff, 0 0 55px #ff00f7;

    @media (max-width: 600px) {
      font-size: 15px;
      margin: 0 10px;
    }
  }

  img {
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(221, 4, 250);
    box-shadow: 0 0 8px 3px rgb(234, 0, 255), inset 0 0 8px 3px rgb(251, 0, 255);
    filter: brightness(0.5);

    @media (max-width: 600px) {
      width: 50px;
      height: 50px;
      margin-left: 5px;
    }
  }
}

.player-active {
  box-shadow: 0 0 8px 3px rgb(234, 0, 255), inset 0 0 8px 3px rgb(251, 0, 255);
  border: 2px outset rgb(234, 0, 255);
  background: linear-gradient(45deg, #8e008e 0%, #000000 50%, #990194 100%);
  img {
    animation: flicker 1s infinite;
  }
}

@keyframes flicker {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(2);
  }

  100% {
    filter: brightness(1);
  }
}
