.field {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  background-image: url('/assets/backgrounds/Atlantica Table.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-stack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    bottom: 160px;
    right: 20%;

    @media (max-width: 1300px) {
      right: 10%;
    }

    @media (max-width: 900px) {
      right: 5%;
      bottom: 20%;
    }

    @media (max-width: 600px) {
      right: 2%;
      bottom: 20%;
    }

    .card-cover {
      position: absolute;
      width: 200px;
      height: 300px;
      box-shadow: 3px 3px 8px 3px #000000;
      border-radius: 15px;
      margin-left: 25px;


      @media (max-width: 900px) {
        width: 170px;
        height: 250px;
        margin-left: 45px;

      }

      @media (max-width: 600px) {
        width: 120px;
        height: 170px;
        margin-left: 95px;
        box-shadow: 3px 3px 3px 0px #000000;
      }
    }
  }
}

.top-card {
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.2) translateY(-50px) translateX(-35px);
    transition: all 0.15s ease-in-out;
    // z-index: 1;
    @media (max-width: 600px) {
      transform: scale(1.2) translateY(-30px) translateX(-15px);
    }
  }
}

.pick-card {
  transition: all 0.15s ease-in-out;
  animation: pick-card-animation 1.5s ease-in-out;

  @media (min-width: 1300px) {
    animation: pick-card-animation 1.5s ease-in-out;
  }

  @media (max-width: 1300px) {
    animation: pick-card-animation-1300px 1.5s ease-in-out;
  }

  @media (max-width: 900px) {
    animation: pick-card-animation-900px 1.5s ease-in-out;
  }
}

.played-card {
  transform: scale(1.1) translateX(-400px) translateY(-270px) rotate(-10deg);
  transition: all 0.25s ease-in-out;
  animation: pick-card-animation 1.5s ease-in-out;

  @media (max-width: 1300px) {
    transform: scale(1.1) translateX(-200px) translateY(-310px) rotate(-10deg);
    animation: pick-card-animation-1300px 1.5s ease-in-out;
  }

  @media (max-width: 900px) {
    transform: scale(1.1) translateX(30px) translateY(-260px) rotate(-5deg);
    animation: pick-card-animation-900px 1.5s ease-in-out;
  }
}

.hide-players-on-mobile {
  @media (max-width: 600px) {
    display: none;
  }
}

.hide-players-on-desktop {
  @media (min-width: 600px) {
    display: none;
  }
}

.button-add {
  position: absolute;
  box-shadow: 0 0 4px 1px rgb(234, 0, 255), inset 0 0 4px 1px rgb(251, 0, 255);
  transition: all 0.1s ease-in-out;
  color: rgb(234, 0, 255);
  left: 330px;
  top: 20px;

  @media (max-width: 600px) {
    left: unset;
    top: unset;
    right: 2%;
    top: 2%;
  }

  &:hover {
    background: rgb(234, 0, 255);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 6px 3px rgb(234, 0, 255), inset 0 0 6px 3px rgb(251, 0, 255);
    text-shadow: 0 0 8px #ffffff;
    color: #ffffff;
  }
}

.pin-bottom {
  box-shadow: 0 0 8px 4px rgb(234, 0, 255), inset 0 0 8px 4px rgb(251, 0, 255);
  border: 3px solid rgb(234, 0, 255);
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 100px;
  right: 100px;
  background: url('/assets/backgrounds/button.jpg');
  background-size: cover;
  font-size: 20px;
  padding: 15px 10px 0 15px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.487);

  @media (max-width: 768px) {
    bottom: 5%;
    left: 5%;
    right: 5%;
    font-size: 14px;
  }
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1) translateX(-35px) translateY(-50px);
  }

  30% {
    transform: scale(1.2) translateX(-235px) translateY(-150px);
  }

  70% {
    transform: scale(1.2) translateX(-235px) translateY(-150px);
  }

  100% {
    transform: scale(1.1) translateX(-400px) translateY(-270px) rotate(-10deg);
  }
}

@keyframes pick-card-animation-1300px {
  0% {
    transform: scale(1) translateX(-35px) translateY(-50px);
  }

  30% {
    transform: scale(1.2) translateX(-135px) translateY(-150px);
  }

  70% {
    transform: scale(1.2) translateX(-135px) translateY(-150px);
  }

  100% {
    transform: scale(1.1) translateX(-200px) translateY(-310px) rotate(-10deg);
  }
}

@keyframes pick-card-animation-900px {
  0% {
    transform: scale(1) translateX(-35px) translateY(-50px);
  }

  30% {
    transform: scale(1.2) translateX(20px) translateY(-70px);
  }

  70% {
    transform: scale(1.2) translateX(20px) translateY(-70px);
  }

  100% {
    transform: scale(1.1) translateX(30px) translateY(-260px) rotate(-5deg);
  }
}
