.field {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  background-image: url('/assets/backgrounds/Atlantica Table.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-stack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    bottom: 160px;
    right: 20%;

    .card-cover {
      position: absolute;
      width: 200px;
      height: 300px;
      box-shadow: 3px 3px 8px 3px #000000;
      border-radius: 15px;
    }
  }
}

.top-card {
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.2) translateY(-50px) translateX(-35px);
    transition: all 0.15s ease-in-out;
  }
}

.pick-card {
  transition: all 0.15s ease-in-out;
  animation: pick-card-animation 1.6s ease-in-out;
}

.played-card {
  transform: scale(1.1) translateX(-400px) translateY(-270px) rotate(-10deg);
  transition: all 0.25s ease-in-out;
  animation: pick-card-animation 1.6s ease-in-out;
}

.button-add {
  box-shadow: 0 0 4px 1px rgb(234, 0, 255), inset 0 0 4px 1px rgb(251, 0, 255);
  transition: all 0.1s ease-in-out;
  color: rgb(234, 0, 255);
  position: absolute;
  left: 330px;
  top: 20px;

  &:hover {
    background: rgb(234, 0, 255);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 6px 3px rgb(234, 0, 255), inset 0 0 6px 3px rgb(251, 0, 255);
    text-shadow: 0 0 8px #00308f;
    color: #00308f;
  }
}

.pin-bottom {
  box-shadow: 0 0 8px 4px rgb(234, 0, 255), inset 0 0 8px 4px rgb(251, 0, 255);
  border: 3px solid rgb(234, 0, 255);
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 100px;
  right: 100px;
  background: url('/assets/backgrounds/button.jpg');
  background-size: cover;
  font-size: 20px;
  padding: 15px 10px 0 15px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.487);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1) translateX(-35px) translateY(-50px);
  }

  30% {
    transform: scale(1.2) translateX(-235px) translateY(-150px);
  }

  70% {
    transform: scale(1.2) translateX(-235px) translateY(-150px);
  }

  100% {
    transform: scale(1.1) translateX(-400px) translateY(-270px) rotate(-10deg);
  }
}
