.mat-mdc-card {
  background-color: transparent!important;
  box-shadow: none!important;
}

.mat-mdc-card-title {
  font-family: 'Tilt Neon', cursive;
  font-size: 24px;
  color: rgb(251, 0, 255);
  text-shadow: 0 0 20px #e100ff, 0 0 30px #e100ff, 0 0 35px #f700ff, 0 0 55px #ff00f7;
  margin-bottom: 5px;
}

.mat-mdc-card-content:last-child {
  font-family: 'Tilt Neon', cursive;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 15px #fefefe, 0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 35px #ffffff;
}
